In [7]:
! pip install pandas
! pip install SQLAlchemy
! pip install pymysql

Requirement already satisfied: pandas in c:\users\ead\documents\datascience\.venv\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ead\documents\datascience\.venv\lib\site-packages (from pandas) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ead\documents\datascience\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ead\documents\datascience\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ead\documents\datascience\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\ead\documents\datascience\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: SQLAlchemy in c:\users\ead\documents\datascience\.venv\lib\site-packages (2.0.32)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\ead\documents\datascience\.venv\lib\site-packages (from SQLAlchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ead\documents\datascience\.venv\lib\site-packages (from SQLAlchemy) (3.0.3)
Requirement already satisfied: pymysql in c:\users\ead\documents\datascience\.venv\lib\site-packages (1.1.1)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
import pymysql
import urllib.parse
# definir as credenciais
user = 'root'
password = urllib.parse.quote_plus('senai@123')
host  = 'localhost'
database = 'projetodiario1'
# criar uma url de conexão
connection_string = f'mysql+pymysql://{user}:{password}@{host}/{database}'
# criar a conexão com o create_engine()
engine = create_engine(connection_string)
# escrever uma consulta SQL
query_alunos = "SELECT * FROM aluno"
# criar o dataframe
df_alunos = pd.read_sql(query_alunos,engine)
# mostrar os cinco primeiros
df_alunos.head()

   id        ra  Nome  Tempo_de_Estudo  Renda_Media_Salarial_Familiar
0   1  12345678  None                0                            NaN
1   2  10000001  None                0                            NaN
2   3  10000002  None                0                            NaN
3   4  10000003  None                0                            NaN
4   5  10000004  None                0                            NaN

In [9]:
import pymysql
import urllib.parse
import sqlalchemy as sa
import pandas as pd
from sqlalchemy import create_engine
import pymysql
import urllib.parse
# definir as credenciais
user = 'root'
password = urllib.parse.quote_plus('senai@123')
host  = 'localhost'
database = 'schooltracker'
# criar uma url de conexão
connection_string = f'mysql+pymysql://{user}:{password}@{host}/{database}'
# criar a conexão com o create_engine()
engine = create_engine(connection_string)
# escrever uma consulta SQL
query_alunos = "SELECT * FROM aluno"
# criar o dataframe
df_alunos = pd.read_sql(query_alunos,engine)
# mostrar os cinco primeiros
df_alunos.head()

   id      ra  NOME  tempoestudo  rendafamiliar
0   1  003459  None            0            NaN
1   2  003457  None            0            NaN
2   3  003447  None            0            NaN
3   4  000050  None            0            NaN
4   5  000030  None            0            NaN

## Qauis são as bibliotecas que o cientista de dados utiliza
- Pandas: ciencia de dados
- NumPy: matemátiva
- Fundamentos de IA (Scikit-Learn): elaboração de modelos de ia

## Como o cientista de dados organiza e manipula dados

- Importar bibliotecas
- Carregar dados
- Explorar dados
- Preparar dados
- Modelar dados

### Como o cientista de dados gera insights

- Análise de dados
- Exploração de dados
- Visualização de dados
- Interpretando dados
- Comunicando insights

### Como o cientista de dados cria modelos

- Definindo o objetivo
- Escolhendo a técnica
- Treinando o modelo
- Avaliando o modelo
- Usando o modelo

### Como o cientista de dados interpreta os resultados

- Interpretando resultados
- Comunicando resultados
- Relacionando resultados
- Atualizando insights

In [10]:
df_alunos.to_csv('alunos.csv',index=False,)

In [11]:
print(df_alunos)

    id        ra              NOME  tempoestudo  rendafamiliar
0    1    003459              None            0            NaN
1    2    003457              None            0            NaN
2    3    003447              None            0            NaN
3    4    000050              None            0            NaN
4    5    000030              None            0            NaN
..  ..       ...               ...          ...            ...
84  86  25794081  Matheus Teixeira            6        23500.0
85  87  48126039      Helena Costa            2        24000.0
86  88  39281750   Miguel Oliveira            3        24500.0
87  89  74098265   Manuela Almeida            4        25000.0
88  90  58013649     Antônio Silva            5        25500.0

[89 rows x 5 columns]

In [12]:
df_alunos.to_json('alunos2.json',index=True,)

In [13]:
! pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\ead\documents\datascience\.venv\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\ead\documents\datascience\.venv\lib\site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [14]:
xlsx_filename='alunos3.xlsx'
df_alunos.to_excel(xlsx_filename,index=False)

In [15]:
df_alunos.columns

Index(['id', 'ra', 'NOME', 'tempoestudo', 'rendafamiliar'], dtype='object')

In [16]:

df_tempo_renda=df_tempo_renda=df_alunos[['tempoestudo','rendafamiliar']]
df_tempo_renda[0:]

    tempoestudo  rendafamiliar
0             0            NaN
1             0            NaN
2             0            NaN
3             0            NaN
4             0            NaN
..          ...            ...
84            6        23500.0
85            2        24000.0
86            3        24500.0
87            4        25000.0
88            5        25500.0

[89 rows x 2 columns]

In [17]:
# tipos
print(type(df_tempo_renda))

<class 'pandas.core.frame.DataFrame'>

In [18]:
# exercicio: crie um recurso para mostrar apenas uma coluna, mostra qual o tipo desse recurso
serie_tempo_renda=df_tempo_renda['rendafamiliar']
type(serie_tempo_renda)

pandas.core.series.Series

### 06/08 Revisando funções básicas

In [19]:
# retorne o datafreame da ultima aula com as duas primeiras loinhaas com po amostras
df_tempo_renda[:2]

   tempoestudo  rendafamiliar
0            0            NaN
1            0            NaN

In [20]:
# retorne as ultimas 2
df_tempo_renda.tail(2)

    tempoestudo  rendafamiliar
87            4        25000.0
88            5        25500.0

In [21]:
# retorne uma tupla com o número de linha e colunas
df_tempo_renda.shape

(89, 2)

In [22]:
# retorne as iformações gerais do dataframe

df_tempo_renda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tempoestudo    89 non-null     int64
 1   rendafamiliar  49 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 1.5 KB

In [23]:
qtde=len(df_tempo_renda)
if qtde<=76:
    print(f"quantidade: {qtde}")

In [24]:
df_tempo_renda['rendafamiliar'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 89 entries, 0 to 88
Series name: rendafamiliar
Non-Null Count  Dtype
--------------  -----
49 non-null     float64
dtypes: float64(1)
memory usage: 844.0 bytes

In [25]:
df_alunos.dtypes

id                 int64
ra                object
NOME              object
tempoestudo        int64
rendafamiliar    float64
dtype: object

In [26]:
df_alunos.describe()

              id  tempoestudo  rendafamiliar
count  89.000000    89.000000      49.000000
mean   45.617978     2.179775   13500.000000
std    26.248595     2.238921    7144.345083
min     1.000000     0.000000    1500.000000
25%    23.000000     0.000000    7500.000000
50%    46.000000     2.000000   13500.000000
75%    68.000000     4.000000   19500.000000
max    90.000000     6.000000   25500.000000

In [31]:
query_diariodebordo = "SELECT * FROM diariobordo"
df_diariobordo = pd.read_sql(query_diariodebordo,engine)
print(df_diariobordo)

ProgrammingError: (pymysql.err.ProgrammingError) (1146, "Table 'schooltracker.diariobordo' doesn't exist")
[SQL: SELECT * FROM diariobordo]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [28]:
# escrever uma consulta SQL
query_diariobordo = "SELECT * FROM diariobordo"
query_avaliacao = "SELECT * FROM avaliacao"
# criar o dataframe
df_avaliacao = pd.read_sql(query_avaliacao,engine)
df_diariobordo = pd.read_sql(query_alunos,engine)
# mostrar
print(df_diariobordo)
print(df_avaliacao)

    id        ra              NOME  tempoestudo  rendafamiliar
0    1    003459              None            0            NaN
1    2    003457              None            0            NaN
2    3    003447              None            0            NaN
3    4    000050              None            0            NaN
4    5    000030              None            0            NaN
..  ..       ...               ...          ...            ...
84  86  25794081  Matheus Teixeira            6        23500.0
85  87  48126039      Helena Costa            2        24000.0
86  88  39281750   Miguel Oliveira            3        24500.0
87  89  74098265   Manuela Almeida            4        25000.0
88  90  58013649     Antônio Silva            5        25500.0

[89 rows x 5 columns]
   id  nota1  nota2  nota3  nota4  fk_Aluno_id
0   1     15     13     23     21           24

In [29]:
# fazer funções
df_avaliacao.dtypes
df_diariobordo.describe()
df_avaliacao.shape

(1, 6)

# Vamos fazer um join?

### pasos para o merge
- use o comando merge
- criar uma variavel resultado
- ``` pd.merge(df_diariobordo, df aluno, tipo_uniao, {qual chave da esquerda}, {qual a chave da direita})``` - queremos unir
- qual o tipo de união: how='inner'
- inner significa que queremos um join interno, o que resulta em apenas as linhas que tem correspondência em ambos os DataFrame

In [30]:
# realizando o join
resultado = pd.merge(df_diariobordo,df_alunos, how='left', left_on='fk_Aluno_id', right_on='id')

# selecionar as partes desejadas
resultado_selecionado = resultado [['texto','datahora','ra']]

# Mostrar o resultado
resultado_selecionado.head()

KeyError: 'fk_Aluno_id'

In [ ]:
df_avaliacao

In [ ]:
# realizando o join
desafio = pd.merge(df_avaliacao,df_alunos, how='left', left_on='fk_Aluno_id', right_on='id')

# selecionar as partes desejadas
desafio_selecionado = resultado [['nota1','ra']]



resultado = pd.merge(df_diariobordo,df_alunos, how='left', left_on='fk_Aluno_id', right_on='id')

# selecionar as partes desejadas
resultado_selecionado = resultado [['texto','datahora','ra']]

# Mostrar o resultado
desafio_selecionado.head()

In [ ]:
uniao=pd.merge(df_avaliacao,df_alunos,how='left', left_on='fk_Aluno_id', right_on='id')

uniao_selecionado = uniao[['nota1','nota2','nota3','nota4','ra']]

uniao_selecionado.head()

   nota1  nota2  nota3  nota4        ra
0     14     21     24     12  00176143
1     17     20      8      9   0034543
2     19      1      4      7   0034545
3     18     17     16     14   0034548
4     17     22     15     14   0034557

#### faça um join no pandas similar a como vc fez no sql
mostrando o dataframe diario de bordo

In [ ]:
len(df_diariobordo)

In [ ]:
len(df_alunos)