In [1]:
print("alo mundo")

alo mundo

Exercicio
Criar uma classe produto
com uma funçao para calcular o valor total desse produto.

Lista de Regras

* A classe e um conjunto de objetos.
* A classe agrupa objetos em comum;
* A classe possue um construtor __init__
* As caracteristicas dos objetos sao atributos.
* O self acessa as caracteristicas e comportamentos da classe
* Os metodos de trabalho (workes - oziel Moreira neto): sao metodos para
calcular,desenvolver a logica de programaçao.

In [2]:
class Produto:
    pass

In [4]:
class Produto:
    def __init__(self,qtde,preço):
        self.qtde = qtde
        self.preço = preço

    def calcular_total(self):
        return self.qtde * self.preço

In [5]:
p = Produto(qtde=10,preço=10)
print(f"o valor total de melancias e:{p.calcular_total()}")

o valor total de melancias e:100

Desafio:

* Analise o dataset aluguel.csv da aula passada.
* crie uma clase que representara o arquivo
* Crie tres imoveis(objetos) que estao no dataset

In [7]:
class Imoveis:
   
  def __init__(self,tipo,valor):
    self.tipo = tipo
    self.valor = valor
  def aluguel_imoveis(self):
    return self.tipo,self.valor
   
p = Imoveis(tipo=10,valor=20)

print(f"o valor total de imoveis e:{p.aluguel_imoveis()}")

o valor total de imoveis e:(10, 20)

 ## Criar uma calculadora orientada o objeto

   * Primeiro - importar o pandas\
   * Segundo - Pesquisar o cabeçalho
   * Quarto - Verificar colunas
   * Quinto - Escolher as colunas
   * Sexto - Criar a classe
   * Setimo - Criar objeto com valores

In [8]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\ead\documents\sueli\manhaexercicio_msueli\.venv\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ead\documents\sueli\manhaexercicio_msueli\.venv\lib\site-packages (from pandas) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ead\documents\sueli\manhaexercicio_msueli\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ead\documents\sueli\manhaexercicio_msueli\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ead\documents\sueli\manhaexercicio_msueli\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\ead\documents\sueli\manhaexercicio_msueli\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [9]:
import pandas as pd

In [13]:
url = "dataset/aluguel.csv"

In [14]:
df = pd.read_csv(url, sep=";")
df.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

In [15]:
df["IPTU"]

0          60.0
1           NaN
2        1111.0
3          20.0
4           NaN
          ...
32955      25.0
32956      40.0
32957      37.0
32958       NaN
32959    1109.0
Name: IPTU, Length: 32960, dtype: float64

In [16]:
class Imoveis:

    def __init__(self,colunas,valor):
        
        self.colunas = colunas
        self.valor = valor

    def mostrar_valores(self):
        print(f"{self.colunas}")
        print(f"{self.valor}")

In [17]:
Apartamentos = Imoveis(200,50)
Apartamentos.mostrar_valores()

200
50