In [22]:
! pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in c:\users\ead\onedrive\área de trabalho\tarde_exercicio_juliana\.venv\lib\site-packages (2.0.31)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\ead\onedrive\área de trabalho\tarde_exercicio_juliana\.venv\lib\site-packages (from SQLAlchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ead\onedrive\área de trabalho\tarde_exercicio_juliana\.venv\lib\site-packages (from SQLAlchemy) (3.0.3)

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [23]:
import pymysql
import urllib.parse
from sqlalchemy import create_engine
import pandas  as pd

In [24]:

# definir as credenciais
user = 'root'
password = urllib.parse.quote_plus('senai@123')
host  = 'localhost'
database = 'schooltracker'
# criar uma url de conexão
connection_string = f'mysql+pymysql://{user}:{password}@{host}/{database}'
# criar a conexão com o create_engine()
engine = create_engine(connection_string)
# escrever uma consulta SQL
query_alunos = "SELECT * FROM aluno"
# criar o dataframe
df_alunos = pd.read_sql(query_alunos,engine)
# mostrar os cinco primeiros
df_alunos.head()

   id      ra  NOME  tempoestudo  rendafamiliar
0   1  003459  None            0            NaN
1   2  003457  None            0            NaN
2   3  003447  None            0            NaN
3   4  000050  None            0            NaN
4   5  000030  None            0            NaN

#QUAIS AS BIBLIOTECAS QUE UM CIENTISTA DE DADOS USA ?

 3 PRINCIPAIS
 - PANDAS AS PD
 - NUNPY AS NP
 - FUNDAMENTOS DE IA(SCIKIT - LEARN)

- MATERIAL DIDATICO
- PANDA: CIENCIA DE DADOS
- NUNPY: MATEMATICA
- SCIKIT - LEARN : ELABORAÇÃO DE MODELOS DE IA
- SALVAR UM DATAFRAME

In [30]:
cvs_filename = 'aluno.csv'
df_alunos.to_csv(csv_filename,index=false)

NameError: name 'csv_filename' is not defined

In [27]:
! pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   ----------------- ---------------------- 112.6/250.9 kB 3.2 MB/s eta 0:00:01
   ---------------------------------------- 250.9/250.9 kB 3.8 MB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

# UM NOVO DATAFRAME

In [34]:
df_alunos.columns

Index(['id', 'ra', 'NOME', 'tempoestudo', 'rendafamiliar'], dtype='object')

- [] cochete e pix

In [36]:
df_tempo_renda = df_alunos[['tempoestudo', 'rendafamiliar']]
df_tempo_renda

    tempoestudo  rendafamiliar
0             0            NaN
1             0            NaN
2             0            NaN
3             0            NaN
4             0            NaN
..          ...            ...
84            6        23500.0
85            2        24000.0
86            3        24500.0
87            4        25000.0
88            5        25500.0

[89 rows x 2 columns]

In [37]:
print(type(df_tempo_renda))

<class 'pandas.core.frame.DataFrame'>

# EXERCICIO: CRIE UM RECUSO PARA MOSTRA APENAS UMA COLUNA. MOSTRE QUAL O TIPO DESSE RECUSO.