## quais colunas são variaveis qualitativas(nominais e ordinaius) e quais são quantitativas(discretas e continuas)

### Quantitativas:

- **Discretas**:
    - Idade
    - Tempo de emprego
    - Quantidade de empréstimo
    - Registro de inadimplência
- **Contínuas**:
    - Renda
    - Taxa de juros
    - Percentual de empréstimo sobre renda
    - Duração do histórico de crédito

### Qualitativas:

- **Nominais**:
    - Tipo de propriedade da casa
    - Motivo do empréstimo
    - Estatus do empréstimo
- **Ordinais**:
    - Classificação do empréstimo

In [10]:
# importação das bibliotecas
import pandas as pd;
import numpy as np;
from numpy import nan;
from pandas import read_csv, to_numeric

In [11]:
# caminho do arquivo
url="dataset/risco_credito.csv";
print(url)

dataset/risco_credito.csv

In [12]:
df = read_csv(url,sep=',');
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [13]:
# tradução colunas
df.rename(columns={
    'person_age': 'idade',
    'person_income': 'renda',
    'person_home_ownership': 'tipo_propiedade_casa',
    'person_emp_length': 'tempo_de_emprego',
    'loan_intent': 'motivo_emprestimo',
    'loan_grade': 'classificacao_emprestimo',
    'loan_amnt': 'quantidade_emprestimo',
    'loan_int_rate': 'taxa_juros',
    'loan_status': 'estatus_emprestimo',
    'loan_percent_income': 'porcentual_emprestimo_renda',
    'cb_person_default_on_file': 'registro_inadimplencia',
    'cb_person_cred_hist_length': 'duracao_historico_credito'
}, inplace=True)
# person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
# idade,renda,tipo_propiedade_casa,tempo_de_emprego,motivo_emprestimo,classificacao_emprestimo,quantidade_emprestimo,taxa_juros,estatus_emprestimo,porcentual_emprestimo_renda,registro_inadimplencia,duracao_historico_credito

In [14]:
# tradução dos valores
df['tipo_propiedade_casa'].replace({
    'MORTGAGE': 'hipoteca',
    'RENT': 'aluguel',
    'OWN': 'propria'
}, inplace=True)

df['motivo_emprestimo'].replace({
    'PERSONAL': 'pessoal',
    'EDUCATION': 'educacao',
    'MEDICAL': 'saude',
    'HOMEIMPROVEMENT': 'melhora_casa',
    'VENTURE': 'empreendimento',
    'DEBTCONSOLIDATION': 'consiliacao_divida'
}, inplace=True)

C:\Users\ead\AppData\Local\Temp\ipykernel_10248\4164565010.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['tipo_propiedade_casa'].replace({
C:\Users\ead\AppData\Local\Temp\ipykernel_10248\4164565010.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['motivo_emprestimo'].replace({

In [15]:
df

,idade,renda,tipo_propiedade_casa,tempo_de_emprego,motivo_emprestimo,classificacao_emprestimo,quantidade_emprestimo,taxa_juros,estatus_emprestimo,porcentual_emprestimo_renda,registro_inadimplencia,duracao_historico_credito
0,22,59000,aluguel,123.0,pessoal,D,35000,16.02,1,0.59,Y,3
1,21,9600,propria,5.0,educacao,B,1000,11.14,0,0.10,N,2
2,25,9600,hipoteca,1.0,saude,C,5500,12.87,1,0.57,N,3
3,23,65500,aluguel,4.0,saude,C,35000,15.23,1,0.53,N,2
4,24,54400,aluguel,8.0,saude,C,35000,14.27,1,0.55,Y,4
...,...,...,...,...,...,...,...,...,...,...,...,...
32576,57,53000,hipoteca,1.0,pessoal,C,5800,13.16,0,0.11,N,30
32577,54,120000,hipoteca,4.0,pessoal,A,17625,7.49,0,0.15,N,19
32578,65,76000,aluguel,3.0,melhora_casa,B,35000,10.99,1,0.46,N,28
32579,56,150000,hipoteca,5.0,pessoal,B,15000,11.48,0,0.10,N,26
32580,66,42000,aluguel,2.0,saude,B,6475,9.99,0,0.15,N,30

In [16]:
df.describe()

,idade,renda,tempo_de_emprego,quantidade_emprestimo,taxa_juros,estatus_emprestimo,porcentual_emprestimo_renda,duracao_historico_credito
count,32581.000000,3.258100e+04,31686.000000,32581.000000,29465.000000,32581.000000,32581.000000,32581.000000
mean,27.734600,6.607485e+04,4.789686,9589.371106,11.011695,0.218164,0.170203,5.804211
std,6.348078,6.198312e+04,4.142630,6322.086646,3.240459,0.413006,0.106782,4.055001
min,20.000000,4.000000e+03,0.000000,500.000000,5.420000,0.000000,0.000000,2.000000
25%,23.000000,3.850000e+04,2.000000,5000.000000,7.900000,0.000000,0.090000,3.000000
50%,26.000000,5.500000e+04,4.000000,8000.000000,10.990000,0.000000,0.150000,4.000000
75%,30.000000,7.920000e+04,7.000000,12200.000000,13.470000,0.000000,0.230000,8.000000
max,144.000000,6.000000e+06,123.000000,35000.000000,23.220000,1.000000,0.830000,30.000000

# Demonstração em python dos seguintes itens
- Média
- Mediana
- Moda
- Quartis
- Desvio padrão

In [17]:
import numpy as np
import scipy.stats as sp

In [18]:
valores = np.array([2,6,6,9,12,4,1,7,3,2,4,2,7,45])

### Agora vamos tirar a média (a soma de todos os números divido pela quantidade de números), nesse caso vamos usar a função mean do numpy.

In [19]:
# média
media = np.mean(valores)
print(media)

7.857142857142857

### Agora vamos descobrir a mediana, que é deixar todos os itens em ordem, e pegar ou o do meio ou a média dos dois do meio, se a quantidade de itens for par.

In [20]:
# mediana
mediana = np.median(valores)
print(mediana)

5.0

### Agora vamos descobrir a moda, que é o termo que mais se repete. Esta é a unica que precisamos usar a biblioteca do scipy. O primeiro resultado é o número modal e o segundo a contagem de vezes que ele aparece, no caso o 2 aparece 3 vezes

In [21]:
moda = sp.mode(valores)
print(moda)

ModeResult(mode=np.int64(2), count=np.int64(3))

### Agora vamos descobrir os quartis. é um jeito de ver quantos valores do noso dataset são menores que certo nível, por exemplo, o quartis de 0.75 (ou 75%) vai nos mostrar o menor, inteiro ou não valor que é maior que 75% do valores do dataset (note que o quartil de 50 é a nossa mediana)

In [22]:
q_25 = np.quantile(valores, 0.25)
q_50 = np.quantile(valores, 0.50)
q_75 = np.quantile(valores, 0.75)
print(q_25)
print(q_50)
print(q_75)

2.25
5.0
7.0

### Agora vamos descobir o desvio padrão o desvio padrão é uma forma de indentificar a variabilidade de dados, quanto mais perto do valor da média menos variavel o conjunto de dados é, e quanto mais distante da média, mais váriavel é nosso conjunto de dados

In [23]:
# desvio padrão
desvio = np.std(valores)
desvio

np.float64(10.722853717025833)

### explicação do **loan_status**

Ele mostra se existe inadimplencia atual, essa deve ser a tabela alvo fde um modelo preditivo que deseja calcular se alguem é confiavel ou não para om emprestimo

quais pessoas ganham acima, min e max
- perguntar para o professor

In [24]:
# tabetype(tabela_brasileiraoa matplot
type(df)

pandas.core.frame.DataFrame

In [25]:
df

,idade,renda,tipo_propiedade_casa,tempo_de_emprego,motivo_emprestimo,classificacao_emprestimo,quantidade_emprestimo,taxa_juros,estatus_emprestimo,porcentual_emprestimo_renda,registro_inadimplencia,duracao_historico_credito
0,22,59000,aluguel,123.0,pessoal,D,35000,16.02,1,0.59,Y,3
1,21,9600,propria,5.0,educacao,B,1000,11.14,0,0.10,N,2
2,25,9600,hipoteca,1.0,saude,C,5500,12.87,1,0.57,N,3
3,23,65500,aluguel,4.0,saude,C,35000,15.23,1,0.53,N,2
4,24,54400,aluguel,8.0,saude,C,35000,14.27,1,0.55,Y,4
...,...,...,...,...,...,...,...,...,...,...,...,...
32576,57,53000,hipoteca,1.0,pessoal,C,5800,13.16,0,0.11,N,30
32577,54,120000,hipoteca,4.0,pessoal,A,17625,7.49,0,0.15,N,19
32578,65,76000,aluguel,3.0,melhora_casa,B,35000,10.99,1,0.46,N,28
32579,56,150000,hipoteca,5.0,pessoal,B,15000,11.48,0,0.10,N,26
32580,66,42000,aluguel,2.0,saude,B,6475,9.99,0,0.15,N,30

In [26]:
grafico_percent = df.groupby('idade')['renda'].sum().sort_values()
grafico_percent.plot(kind='barh', figsize=(14, 10), color='blue')

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

### O que o gráfico mostra:

- **Distribuição das Rendas**: Ele mostra quais faixas etárias têm a maior ou menor soma de rendas no conjunto de dados.
- **Comparação entre Faixas Etárias**: Você pode comparar visualmente a soma das rendas entre diferentes idades.
- **Tendências Possíveis**: Se algumas idades específicas tiverem somas muito altas ou baixas, isso pode indicar tendências ou padrões dentro do conjunto de dados.